modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Java"

[[workflows.workflow]]
name = "Run Java"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd week1 && javac Main.java && java Main"

[[workflows.workflow]]
name = "JavaCoder"
mode = "sequential"
author = 48168938

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Java"
